
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.search {
	width: 60%;
	padding-top: 250px;
	text-align: center;

	h1 {
		padding-bottom: 40px;
	}
}

.dl-form {
	position: relative;
	button {
		position: absolute;
		top: 0;
		right: 0;
	}
}

